<ion-view title="Home" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-heart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="home-container1" class="contenedor-superior">
      <h1 id="home-heading1" style="color:#000000;">Chat in Whatsapp</h1>
      <div id="home-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">chat with numbers that are not in youur contact list</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <form id="home-form1" class="list">
      <label class="item item-input item-stacked-label" id="home-input2" name="countrycode">
        <span class="input-label">Country code</span>
        <input type="text" placeholder="+57">
      </label>
      <label class="item item-input item-stacked-label" id="home-input3" name="phonenumber">
        <span class="input-label">Phone number</span>
        <input type="text" placeholder="3005000000">
      </label>
    </form>
    <div id="home-button-bar1" class="button-bar">
      <button id="home-button4" class="button button-positive button-block icon-left ion-android-call">call</button>
      <button id="home-button5" class="button button-balanced button-block icon-right ion-social-whatsapp">chat</button>
    </div>
  </ion-content>
</ion-view>