<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu22"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu22">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu2-list2">
        <ion-item id="menu2-list-item4" ui-sref="home2()" menu-close="">Home</ion-item>
        <ion-item id="menu2-list-item5" href-inappbrowser="page5">Info</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>